
body{
    background-image:url("../images/Backgroung.png");
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.container{
    display:grid;
    width:96vw;
    height:64.8vw;
    margin-top:2vw;
    margin-left:1vw;
    margin-right:2vw;
    grid-template-columns:1fr 0.33fr 0.66fr 0.9fr;
    grid-template-rows:0.8fr 1fr 0.5fr 0.5fr 1fr;
    gap:2vw;
}
.username{
    grid-column:span 2;
    background-color:rgb(27, 27, 80);
    text-shadow:6px 6px black;
}
.username>h1{
    border-radius:12px;
    margin:0;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-bottom:20px;
    font-size:5rem;
    font-family:'Roboto';
    font-weight:900;
    color:gold;
    width:100%;
    height:90%;
    background-color:rgb(33, 51, 114);
}
.badges{
    display:flex;
}
.badges>img{
    flex:2;
    width:0;
}
.badges>button{
    flex:1;
    background-color:rgb(33, 51, 114);
    border-top-right-radius:12px;
    border-bottom-right-radius:12px;
    border-left:1px solid rgb(255, 166, 0);
}
.badges>button>img{
    width:100%;
}
.submissions{
    font-family:'Roboto';
    grid-row:span 5;
    display:flex;
    flex-direction: column;
    gap:0.5vw;
}
.submissions>div{
    text-shadow:2.5px 2.5px black;
    display:flex;
    align-items:center;
    justify-content:center;
    height:6.6vw;
    background-image:linear-gradient(to bottom right,rgb(28, 43, 97),rgb(85, 85, 168));
    border-radius:12px;
}
.submissions>div{
    font-weight:700;
    color:white;
    text-align:center;
}
.submissions>:nth-child(1){
    background-image:linear-gradient(to bottom right,goldenrod,gold);
}
.submissions h1{
    color:rgb(47, 47, 118);
    font-size:2rem;
    font-weight: 900;
    text-shadow:none;
}
.progress-bar{
    grid-row:span 2;
    background-color:blueviolet;
}
.progress-bar>h3{
    margin-left:25%;
    margin-bottom:-1%;
    margin-top:2%;
}
.progress-bar>div{
    height:3vw;
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
    display:flex;
    width:85%;
    margin:4%;
    margin-left:7.5%;
    border:2px solid rgb(47, 47, 118);
}
.progress-bar>div>div{
    flex:1;
    background-color:gold;
}
.progress-bar>div>div:nth-child(21){
    flex:3;
    background-color:gold;
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
}
.progress-bar>div>div>h3{
    color:gold;
    margin-top:50%;
    font-family:'Roboto';
    margin-left:7.5%;
    text-align:center;
}
.progress-bar>div>div>h2{
    font-size:1.5rem;
    font-weight:600;
    color:white;
    margin-top:-10%;
    font-family:'Roboto';
    margin-left:0%;
    text-align:center;
}
.progress-bar>div>div>p{
    font-size:1rem;
    color:yellow;
    margin-top:0%;
    font-family:'Roboto';
    text-align:center;
}
.progress-bar>.solved{
    margin-left:7.5%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:6vw;
    gap:2%;
    border:none;
}
.progress-bar>.solved>div{
    flex:1;
    height:100%;
    background-image:linear-gradient(rgb(38, 38, 105),rgb(50, 68, 167));
    border-radius:12px;
}
.progress-bar>.solved>div>h3{
    margin:5%;
}
.pie-chart{
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.141' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(47, 90%, 63%, 1)'/><path d='M69.212 40H46.118L34.57 20 46.118 0h23.094l11.547 20zM57.665 60H34.57L23.023 40 34.57 20h23.095l11.547 20zm0-40H34.57L23.023 0 34.57-20h23.095L69.212 0zM34.57 60H11.476L-.07 40l11.547-20h23.095l11.547 20zm0-40H11.476L-.07 0l11.547-20h23.095L46.118 0zM23.023 40H-.07l-11.547-20L-.07 0h23.094L34.57 20z'  stroke-width='1' stroke='hsla(231, 53%, 54%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    /* background-color:linear-gradient(to bottom right,rgb(28, 43, 97),rgb(85, 85, 168)); */
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='65' height='65' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(237, 48%, 19%, 1)'/><path d='M.5.5v12h12V.5H.5zm13 13v12h12v-12h-12zm-13 13v12h12v-12H.5zm26 13v12h12v-12h-12zm13 13v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='hsla(57, 100%, 50%, 1)'/><path d='M26.5.5v12h12V.5h-12zm0 13v12h12v-12h-12zm13 13v12h12v-12h-12zm-39 13v12h12v-12H.5zm0 13v12h12v-12H.5z'  stroke-width='1' stroke='none' fill='hsla(51, 100%, 49%, 1)'/><path d='M13.5.5v12h12V.5h-12zm39 13v12h12v-12h-12zm-39 13v12h12v-12h-12zm39 0v12h12v-12h-12zm-26 26v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='hsla(233, 29%, 50%, 1)'/><path d='M52.5.5v12h12V.5h-12zm-13 13v12h12v-12h-12zm0 26v12h12v-12h-12zm13 0v12h12v-12h-12zm-39 13v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='hsla(226, 42%, 44%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.141' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(46, 100%, 49%, 1)'/><path d='M69.212 40H46.118L34.57 20 46.118 0h23.094l11.547 20zM57.665 60H34.57L23.023 40 34.57 20h23.095l11.547 20zm0-40H34.57L23.023 0 34.57-20h23.095L69.212 0zM34.57 60H11.476L-.07 40l11.547-20h23.095l11.547 20zm0-40H11.476L-.07 0l11.547-20h23.095L46.118 0zM23.023 40H-.07l-11.547-20L-.07 0h23.094L34.57 20z'  stroke-width='1' stroke='hsla(231, 53%, 54%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    grid-row:span 3;
    grid-column:span 2;
    border:none!important;
    /* border:4px solid gold; */
}
.contest{
    /* border:4px solid gold; */
    border:1px solid white!important;
    border-top:2px solid gold!important;
    /* border:none!important; */
    grid-row:span 2;
    margin-right:0 !important;
    background-image:linear-gradient(rgb(33, 33, 122),rgb(33, 33, 122))!important;
}
.contest>h1{
    color:navy;
    font-weight:600;
    font-size:2.5rem;
    border-bottom:2px solid white;
    text-shadow:2px 2px rgb(255, 191, 0);
    background-color:rgb(255, 191, 0);
    border-radius:6px;
}
.contest>div>div{
    display:flex;
    background-color:navy
    /* padding:1.8%;
    padding-top:9%;
    margin-left:2%;
    margin-right:2%;
    border-radius:6px;
    height:21vw; */
}
.contest>div{
    /* padding:1.8%;
    padding-top:9%;
    margin-left:2%;
    margin-right:2%;
    border-radius:6px;
    height:21vw; */
    margin:2%;
}
.contest>div p{
    font-weight:600;
    width:100%;
    /* margin-left:1%;
    margin-right:1%; */
    padding:2%;
    border-radius:6px;
    /* background-color:rgb(255, 191, 0)!important; */
    color:rgb(255, 191, 0);
    text-shadow:1px 1px black;
}
.contest>div>div>:nth-child(1){
    flex:2;
    background-color:rgb(23, 23, 116);
    /* border:0.5px solid gold; */
    border-left:none;
    border-right:none;
    /* padding:10%; */
}
.contest>div>div>:nth-child(2){
    border:2px solid navy;
    border-radius:12px;
    background-color:rgb(255, 204, 0);
    flex:1;
}
.contest>div>div>:nth-child(2)>p{
    color:navy;
}
.ranking{
   border:4px solid rgb(255, 204, 0);
   grid-column:span 2; 
   background-color:rgb(255, 200, 0)!important;
   height:100%;
}
.ranking>div{
    border: 4px solid rgb(33, 51, 114);
    border-bottom-right-radius:12px;
    border-bottom-left-radius:12px;
}
.ranking h2{
    font-size:6rem;
    font-weight:900;
    text-shadow:2px 2px white;
    color:rgb(33, 51, 114);
    margin-left:0;
    text-align:center;
}
.ranking p{
    font-weight:800;
    border-top-right-radius:12px;
    border-top-left-radius:12px;
    padding:5%;
    margin:0;
    font-size:1.5rem;
    background-color:rgb(33, 51, 114);
    color:gold;
}
.container>div{
    background-color:rgb(255, 184, 6);
    border-radius:12px;
    border:4px solid rgb(255, 230, 6);
}

.progress-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-container {
    
    position: relative;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    fill:rgb(16, 15, 50);
}

.progress-circle {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.base-circle {
    fill: #213372;
    stroke:"#3a2f5b";
    stroke-width: 10;
}

.progress-segment {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
}

.easy-circle {
    fill:goldenrod;
    stroke: #a3e635;
    stroke-width:5;
}

.medium-circle {
    stroke: #facc15;
    stroke-width:5;
}

.hard-circle {
    stroke: #ef4444;
    stroke-width:5;
}

.circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* text-shadow: 2.5px 2.5px whitesmoke; */

}

.divider {
    margin: 5px 0;
    border: none;
    border-top: 1px solid white;
}

.details-container {
    display: flex;
    flex-direction: column;
    column-gap:10px;
    row-gap:3px;
     border:1.8px solid white;
}

/* .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
} */

/* .detail span {
    margin: 0 2px;
} */
.acceptance-ratio.easy {
    color:gold; /* green-800 */
    /* text-shadow: 2.5px 2.5px darkgreen; */
}

.acceptance-ratio.medium {
    color:gold; /* amber-800 */
    /* text-shadow: 2.5px 2.5px deepskyblue; */
}

.acceptance-ratio.hard {
    color: gold;/* red-800 */
    /* text-shadow: 2.5px 2.5px darkred; */
}

